:root {
    --crimson: #d7263dff;
    --giants-orange: #f46036ff;
    --space-cadet: #2e294eff;
    --persian-green: #1b998bff;
    --timeber-wolf: #DAD6CB;
}

.folder {
    fill: var(--persian-green)
}

body {
    background-color: var(--timeber-wolf);
}

h1 {
    color: var(--space-cadet)
}
