:root {
    --crimson: #d7263dff;
    --giants-orange: #f46036ff;
    --space-cadet: #2e294eff;
    --persian-green: #1b998bff;
    --vivid-cerulean: #00A9FF;
    --timeber-wolf: #DAD6CB;
    --ash-grey: #C8D3CF;
}

.loader {
    border: .5vw solid var(--timeber-wolf); /* Light grey */
    border-top: .5vw solid var(--space-cadet); /* Blue */
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    animation: spin 2s linear infinite;
}
    
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    width: 50%;
    height: 20px;
    background-color: var(--timeber-wolf);
    border-radius: 10px;
    overflow: hidden;

    margin: 10px;
}

.loader-bar {
    height: 100%;
    width: 0%;
    background-color: var(--space-cadet);
    animation: load 5s infinite;
}

@keyframes load {
    0% {width: 0%}
    50% {width: 100%;}
    100% {width: 0%;}
}

@media only screen and (max-width: 550px) {
    .loader-container {
        text-align: center;
        align-items: center;
        align-content: center;
        width: 100%;
    }
}

.home-loader {
    display: flex;
    align-content: center;
    align-self: center;
    text-align: center;
    align-items: center;

    position: absolute;
    bottom: 4.5vw;
    right: 4.5vw;

    width: 4.5vw; 
    height: 4.5vw; 
    background-color: var(--timeber-wolf);
    border-radius: 100px;
}