:root {
    --crimson: #d7263dff;
    --giants-orange: #f46036ff;
    --space-cadet: #2e294eff;
    --persian-green: #1b998bff;
    --vivid-cerulean: #00A9FF;
    --timeber-wolf: #DAD6CB;
    --ash-grey: #C8D3CF;
}

.sidebar {
    height: 100lvh;
    width: 200px;

    background-color: var(--space-cadet);
    color: var(--timeber-wolf);
    fill: var(--timeber-wolf);

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}


.link-side {
    color: var(--timeber-wolf);
}

.sidebar-content {
    margin: 20px;
}


.sidebar-content-item {
    display: block;
}

.sidebar-mobile {
    display: none;
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: -10px;
    height: 10lvh;
    background-color: var(--space-cadet);
}

.sidebar-mobile-item {
    display: inline-block;
    text-align: center;
    width: 15%;
    height: 100px;
    margin: auto;
    margin-top: 2%;
}

@media only screen and (max-width: 550px) {
    .sidebar {
        display: none;
    }

    .sidebar-mobile {
        display: inline-flex;
    }
}

@media only screen and (min-width: 550px) {
    .sidebar-mobile {
        display: none;
    }
}

